.image-gallery-content .image-gallery-slide .image-gallery-image {
  margin-top: 1rem;
  display: flexbox;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  position: fixed;
  bottom: 0rem;
  left: 0;
  right: 0;
  margin-top: 1rem;
  z-index: 900;
}

.image-gallery-play-button {
  position: absolute;
  margin-bottom: 5rem;
}

.image-gallery-fullscreen-button {
  position: absolute;
  margin-bottom: 5rem;
}

@media (max-width: 1024px) {
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    margin-top: 10rem;
    display: flexbox;
    position: sticky;
    width: 100%;
    justify-content: center;
    align-content: center;
  }

  .image-gallery-left-nav, .image-gallery-right-nav {
    padding: 50px 10px;
    top: 70%;
    transform: translateY(-50%);
}

  .image-gallery-play-button {
  position: absolute;
  margin-bottom: -4rem;
}

.image-gallery-fullscreen-button {
  position: absolute;
  margin-bottom: -4rem;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  position: fixed;
  bottom: 15rem;
  left: 0;
  right: 0;
  margin-top: 1rem;
  z-index: 900;
}

}
