.codesweetly-rigg-imgs-container {
  column-width: 230px;
  column-gap: 100px;
  margin-top: 3rem;
}

.codesweetly-rigg-image-figure {
  margin-bottom: 60px;
}

h2 {
  font-family: "Poppins", H;
  margin-top: 2rem;
  color: white;
  text-align: center;
  width: auto;
  background-color: black;
  border-radius: 0.5rem;
  border: 1px solid white;
}
